<nav ng-include="'/assets/views/templates/nav.html'"></nav>

<div class="opaque">
    <div class="container">
        <h1 class="heading text-center text-uppercase">Workout A</h1>

        <div>
            <label for="date">Today's Date:
                <input type="date" ng-model="newWorkout.date" id="date" name="date">
            </label>
        </div>

        <div class="container workout-panel">
            <p class="workout-name">Squat 5 x 5</p>

            <p class="suggestion">Suggested Weight: {{calcWeight.squat}} lbs</p>

            <label for="squat">Actual Weight:
                <input type="number" ng-model="newWorkout.squat.weight" id="squat" name="squat" placeholder="lbs">
            </label>

            <label>Set 1</label>
              <select ng-model="newWorkout.squat.set1" ng-options="option for option in repOptions">
              </select>
            <label>Set 2</label>
              <select ng-model="newWorkout.squat.set2" ng-options="option for option in repOptions">
              </select>
            <label>Set 3</label>
              <select ng-model="newWorkout.squat.set3" ng-options="option for option in repOptions">
              </select>
            <label>Set 4</label>
              <select ng-model="newWorkout.squat.set4" ng-options="option for option in repOptions">
              </select>
            <label>Set 5</label>
              <select ng-model="newWorkout.squat.set5" ng-options="option for option in repOptions">
              </select>

        </div>

        <div class="container workout-panel">
            <p class="workout-name">Bench Press 5 x 5</p>

            <p class="suggestion">Suggested Weight: {{calcWeight.bench}} lbs</p>

            <label for="bench">Actual Weight:
                <input type="number" ng-model="newWorkout.bench.weight" id="bench" name="bench" placeholder="lbs">
            </label>

            <label>Set 1</label>
              <select ng-model="newWorkout.bench.set1" ng-options="option for option in repOptions">
              </select>
            <label>Set 2</label>
              <select ng-model="newWorkout.bench.set2" ng-options="option for option in repOptions">
              </select>
            <label>Set 3</label>
              <select ng-model="newWorkout.bench.set3" ng-options="option for option in repOptions">
              </select>
            <label>Set 4</label>
              <select ng-model="newWorkout.bench.set4" ng-options="option for option in repOptions">
              </select>
            <label>Set 5</label>
              <select ng-model="newWorkout.bench.set5" ng-options="option for option in repOptions">
              </select>

        </div>

        <div class="container workout-panel">
            <p class="workout-name">Rows 5 x 5</p>

            <p class="suggestion">Suggested Weight: {{calcWeight.row}} lbs</p>

            <label for="row">Actual Weight:
                <input type="number" ng-model="newWorkout.row.weight" id="row" name="row" placeholder="lbs">
            </label>

            <label>Set 1</label>
              <select ng-model="newWorkout.row.set1" ng-options="option for option in repOptions">
              </select>
            <label>Set 2</label>
              <select ng-model="newWorkout.row.set2" ng-options="option for option in repOptions">
              </select>
            <label>Set 3</label>
              <select ng-model="newWorkout.row.set3" ng-options="option for option in repOptions">
              </select>
            <label>Set 4</label>
              <select ng-model="newWorkout.row.set4" ng-options="option for option in repOptions">
              </select>
            <label>Set 5</label>
              <select ng-model="newWorkout.row.set5" ng-options="option for option in repOptions">
              </select>

        </div>

        <div class="submit-button" ng-click="postNewWorkout(newWorkout)">Submit</div>
    </div>

</div>
